@use "viewports.scss" as v;

.counters {
  counter-reset: none;

  @media (min-width: v.$tablet-width) {
    counter-reset: section;
  }
}

.counters__item {
  @media (min-width: v.$tablet-width) {
    counter-increment: section;

    &::after {
      content: counter(section);
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      right: 0;
      top: -40px;
      z-index: -1;
    }
  }
}
