@use "viewports.scss" as v;

.description {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  padding: 0 20px;
  padding-bottom: 49px;

  @media (min-width: v.$tablet-width) {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 30px;
  }

  @media (min-width: v.$desktop-width) {
    border-bottom: none;
    padding: 0 110px;
  }
}

.description__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  margin: 0;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    flex-direction: row;
    margin-bottom: 37px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 32px;
  }
}

.description__list {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 42px;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    column-gap: 135px;
    row-gap: 37px;
    margin: 0;
  }

  @media (min-width: v.$desktop-width) {
    grid-template-columns: repeat(4, 250px);
    gap: 80px;
    margin-bottom: 0;
  }
}

.description__item {
  display: block;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-top: 3px;
  padding-right: 3px;

  @media (min-width: v.$tablet-width) {
    br {
      display: none;
    }

    display: flex;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-top: 111px;
    margin-top: 40px;
    margin-bottom: 57px;
    padding-left: 0;
  }

  @media (min-width: v.$desktop-width) {
    /* резерв */
  }

  &--first {
    background-image: url("../img/program-work-picture1-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: v.$tablet-width) {
      background-image: url("../img/program-work-picture1-tablet.png");
    }
  }

  &--second {
    background-image: url("../img/program-work-picture2-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: v.$tablet-width) {
      background-image: url("../img/program-work-picture2-tablet.png");
    }
  }

  &--third {
    background-image: url("../img/program-work-picture3-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: v.$tablet-width) {
      background-image: url("../img/program-work-picture3-tablet.png");
    }
  }

  &--fourth {
    background-image: url("../img/program-work-picture4-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: v.$tablet-width) {
      background-image: url("../img/program-work-picture4-tablet.png");
    }
  }
}

.description__item:last-child {
  margin-bottom: 0;
}
