@use "viewports.scss" as v;

.example {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 52px;
    padding-bottom: 53px;
  }
}

.example__title {
  margin: 30px auto 30px 91px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: v.$tablet-width) {
    margin: 0;
    margin-top: 77px;
    margin-bottom: 24px;
    margin-right: auto;
  }
}

.example__description {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 13px;
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: v.$tablet-width) {
    box-sizing: border-box;
    max-width: 340px;
    margin-bottom: 48px;
    margin-right: auto;
  }
}

.example__link {
  position: relative;
  margin: 15px 127px 18px 19px;
  padding: 4px 47px 4px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  list-style-type: none;

  &::after {
    position: absolute;
    top: 6px;
    right: 8px;
    content: " ";
    background-repeat: no-repeat;
    background-image: url("../img/main-button-arrow.png");
    width: 24px;
    height: 12px;
  }
}
