@use "viewports.scss" as v;

.example {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 49px;
    padding-bottom: 53px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 0;
  }

  &--first {
    background-image: url("../img/decorate-cat-slim-mobile.png");
    background-repeat: no-repeat;
    background-position: 22px 21px;

    @media (min-width: v.$tablet-width) {
      background-image: url("../img/decorate-cat-slim-tablet.png");
      background-position: 442px 81px;
    }

    @media (min-width: v.$desktop-width) {
      background-image: url("../img/decorate-cat-slim-desktop.png");
      background-position: 52px 41px;
    }
  }

  &--second {
    background-image: url("../img/decorate-cat-beefy-mobile.png");
    background-repeat: no-repeat;
    background-position: 13px 24px;

    @media (min-width: v.$tablet-width) {
      background-image: url("../img/decorate-cat-beefy-tablet.png");
      background-position: 408px 91px;
    }

    @media (min-width: v.$desktop-width) {
      background-image: url("../img/decorate-cat-beefy-desktop.png");
      background-position: 33px 47px;
    }
  }

  &--second .example__title {
    @media (min-width: v.$tablet-width) {
      margin-left: 0;
    }

    @media (min-width: v.$desktop-width) {
      margin-left: 215px;
      margin-right: auto;
    }
  }
}

.example__title {
  margin: 30px auto 30px 91px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: v.$tablet-width) {
    margin: 0;
    margin-top: 77px;
    margin-bottom: 24px;
    margin-right: auto;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: auto;
    margin-right: 33.6%;
    margin-bottom: 0;
  }
}

.example__description {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 13px;
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    max-width: 340px;
    margin-bottom: 48px;
    margin-left: 0;
    margin-right: auto;
    border-bottom: none;
    padding: 0;
  }

  @media (min-width: v.$desktop-width) {
    margin-top: 73px;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 21px;
    min-width: 466px;
  }
}

.example__link {
  position: relative;
  margin: 14px 127px 18px 19px;
  padding: 4px 47px 4px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  list-style-type: none;

  &::after {
    position: absolute;
    top: 6px;
    right: 8px;
    content: " ";
    background-repeat: no-repeat;
    background-image: url("../img/main-button-arrow.png");
    width: 24px;
    height: 12px;
  }

  @media (min-width: v.$tablet-width) {
    margin: 0 auto 0 0;
    padding: 4px 57px 4px 0;
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 14px;
    }
  }

  @media (min-width: v.$desktop-width) {
    margin: 0 auto 55px 52px;
    padding: 4px 57px 4px 0;
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 14px;
    }
  }
}

.example__link:active {
  opacity: 0.3;
}
