@use "viewports.scss" as v;

.service-offerings {
  position: relative;
  margin: 0;
  padding: 0;
}

.service-offerings__wrapper {
  position: relative;
  background-color: rgba(104, 183, 56, 0.85);
  min-height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/index-background-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  &::before {
    content: " ";
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -135px;
    min-width: 280px;
    min-height: 270px;
    background-image: url("../img/index-can-mobile.png");
    background-repeat: no-repeat;
  }

  @media (min-width: v.$tablet-width) {
    background-color: #ffffff;
    min-height: 200px;
    background-image: none;
    margin-left: 90px;

    &::before {
      display: none;
    }
  }

  @media (min-width: v.$desktop-width) {
    background-color: #ffffff;
    min-height: 314px;
    background-image: none;
    z-index: -1;
  }
}

.service-offerings__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: #ffffff;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
    text-align: left;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 40px;
  }
}

.service-offerings__text {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.service-offerings__link {
  box-sizing: border-box;
  margin-top: 138px;
  padding: 7px 44px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;

  @media (min-width: v.$tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    margin-top: 49px;
    margin-bottom: 526px;
    padding: 14px 26px;
    min-width: 244px;
    width: 244px;
    margin-left: 90px;
    margin-right: auto;
  }

  @media (min-width: v.$desktop-width) {
    margin-top: 52px;
    margin-bottom: 185px;
  }
}

.service-offerings__container {
  position: relative;
  display: grid;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns: repeat(1, 280px);
  gap: 20px;
  margin: 0;
  justify-content: center;

  @media (min-width: v.$tablet-width) {
    padding: 0;
    padding-bottom: 45px;
    grid-template-columns: repeat(1, 700px);
    gap: 30px;

    &::before {
      content: " ";
      position: absolute;
      top: -609px;
      min-width: 709px;
      min-height: 609px;
      background-image: url("../img/index-can-tablet.png");
      z-index: -1;
    }
  }

  @media (min-width: v.$desktop-width) {
    min-width: 980px;
    box-sizing: border-box;
    padding: 82px 0 71px 0;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;

    &::before {
      display: none;
    }
  }
}

.service-offerings__example {
  margin: 0;
  padding: 0;
}

.service-offerings__description {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 49px;
  margin: 0;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: v.$desktop-width) {
    width: 1440px;
    box-sizing: border-box;
    margin-bottom: 70px;
  }
}
