@use "viewports.scss" as v;

.page {
  height: 100%;
}

.page__body {
  box-sizing: border-box;
  position: relative;
  min-width: 280px;
  width: 100%;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  color: #000000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: v.$tablet-width) {
    min-width: 708px;
  }

  @media (min-width: v.$desktop-width) {
    min-width: 980px;
  }
}

.body {
  @media (min-width: v.$desktop-width) {
    &::before {
      content: " ";
      position: absolute;
      width: 50%;
      height: 694px;
      top: 0;
      right: 0;
      background-image: url("../img/index-background-cat-desktop.png");
      background-color: #65a93c;
      background-size: auto 697px;
      background-repeat: no-repeat;
      background-position-x: right;
      z-index: -1;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-cat-desktop@2x.png@2x.png");
    }
  }
}
