@use "viewports.scss" as v;

.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.main-container__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: #000000;
  padding: 0 20px;
}

.main-container__form {
  display: flex;
  flex-direction: column;
}
