@use "viewports.scss" as v;

.main-container {
  flex-grow: 1;
  padding: 0;
}

.main-container__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: v.$tablet-width) {
    width: 768px;
  }

  @media (min-width: v.$desktop-width) {
    width: 1440px;
  }
}

.main-container__wrapper-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: #000000;
  padding: 27px 20px 37px 20px;
  margin: 0;

  @media (min-width: v.$tablet-width) {
    padding: 30px 235px 54px 70px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 45px 787px 56px 110px;
  }
}

.main-container__form {
  display: flex;
  flex-direction: column;
}
