@use "viewports.scss" as v;

.button-details {
  background-color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #444444;
  border: none;
  padding: 10px 79px;
  margin-top: 20px;

  @media (min-width: v.$tablet-width) {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-top: 87px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 10px 39px;
  }
}

.button-details:hover,
.button-details:focus {
  background-color: #ebebeb;
}

.button-details:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
