@use "viewports.scss" as v;

.catalog-offers-second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
}

.catalog-offers-second__title {
  margin: 0;
  margin-right: auto;
  margin-bottom: 36px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
}

.catalog-offers-second__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.catalog-offers-second__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-offers-second__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  text-transform: uppercase;
}

.catalog-offers-second__item-description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-offers-second__item-characteristics {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  color: #444444;
}

.catalog-offers-second__item-value {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  color: #444444;
}

.catalog-offers-second__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: v.$desktop-width) {
    flex-direction: row;
  }
}

.catalog-offers-second__commercial {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  min-height: 280px;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/cat-price.jpg");
  background-repeat: no-repeat;
  margin: 35px 0;
  padding: 43px 59px;
}

.catalog-offers-second__commercial-content {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  text-align: center;
}
