@use "viewports.scss" as v;

/* .catalog-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
} */

.catalog-offers__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    row-gap: 63px;
    column-gap: 80px;
  }
}

.catalog-offers__item {
  border-top: 1px solid #ebebeb;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: v.$tablet-width) {
    border: none;

    &:last-child {
      border: none;
    }
  }
}

.catalog-offers__container {
  width: 280px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  margin: 0 auto;
  padding: 19px 20px 25px 20px;

  @media (min-width: v.$tablet-width) {
    box-sizing: border-box;
    width: 324px;
    background: linear-gradient(#ffffff 0%, #ffffff 15.8%, #f2f2f2 15.8%, #f2f2f2 100%);
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding: 0 36px 39px 39px;
    min-height: 511px;
  }

  @media (min-width: v.$desktop-width) {
    width: 245px;
  }
}

.catalog-offers__link {
  margin: auto;
  margin-bottom: 0;
  grid-row: 1/3;
  grid-column: 1/2;
}

.catalog-offers__icon {
  width: 100%;
  height: auto;
}

.catalog-offers__item-title {
  margin: 0;
  padding: 0;
  padding-right: 65px;
  margin-bottom: 14px;
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;

  br {
    display: none;
  }

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 9px;
    margin-left: 36px;
    margin-right: 42px;
    margin-top: 34px;
    text-align: center;

    br {
      display: block;
    }
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 14px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 10px;
  }
}

.catalog-offers__item-description {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: v.$tablet-width) {
    padding-bottom: 0;
    margin-bottom: 33px;
  }
}

.catalog-offers__item-characteristics {
  grid-column: 1/2;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  text-transform: capitalize;
  color: #444444;
  margin: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 9px;
  }
}

.catalog-offers__item-value {
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  text-transform: capitalize;
  color: #444444;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 9px;
  }
}

.catalog-offers__item-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: #444444;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
