@use "viewports.scss" as v;

.main-inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-inner__container-title {
  width: 320px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: #000000;
  padding-left: 20px;
  padding-top: 27px;
  padding-right: 21px;
  padding-bottom: 41px;
  margin: 0;

  @media (min-width: v.$tablet-width) {
    width: 768px;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    padding-left: 30px;
    margin-top: 28px;
    margin-bottom: 82px;
    margin-right: auto;
  }

  @media (min-width: v.$desktop-width) {
    width: 1440px;
    padding-left: 110px;
    margin-top: 45px;
    margin-bottom: 84px;
  }
}
