@use "viewports.scss" as v;

.product-button {
  grid-row: 3/4;
  grid-column: 1/3;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  padding: 10px 109px;
  margin-top: 10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  @media (min-width: v.$tablet-width) {
    padding: 10px 93px;
    margin-top: 0;
  }

  @media (min-width: v.$desktop-width) {
    padding: 10px 53px;
  }
}

.product-button:hover,
.product-button:focus {
  background-color: #5eaa2f;
}

.product-button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.product-button--second {
  padding: 11px 90px;
}
