.application {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
}

.application-second {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  margin-top: 26px;
}

.application__list {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.application__item {
  margin: 0;
  padding: 0;
}

.application__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  text-transform: uppercase;
}

.application__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  text-transform: uppercase;
}
