@use "viewports.scss" as v;

.application {
  padding: 0;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  border: none;

  @media (min-width: v.$tablet-width) {
    padding-bottom: 72px;
    padding-right: 70px;
    padding-left: 70px;

    @media (min-width: v.$desktop-width) {
      margin: 0 auto;
      width: 568px;
      box-sizing: border-box;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  }

  &--second {
    position: relative;
    display: flex;
    margin-top: 26px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 50%;
      background-color: #68b738;
      top: 15px;
      right: 0;
      z-index: -1;
    }

    @media (min-width: v.$tablet-width) {
      margin-top: 71px;

      &::before {
        width: 100%;
        top: 20px;
      }
    }

    @media (min-width: v.$desktop-width) {
      display: flex;
      flex-direction: row;
    }
  }
}

.application__list {
  list-style-type: none;
  text-decoration: none;
  padding: 0;

  &--second {
    display: flex;
    flex-direction: column;

    @media (min-width: v.$desktop-width) {
      flex-direction: row;
    }
  }
}

.application__list-container {
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: v.$tablet-width) {
    width: 628px;
  }

  @media (min-width: v.$desktop-width) {
    width: 569px;
  }

  &--second {
    @media (min-width: v.$desktop-width) {
      width: 1220px;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }
}

.application__item {
  display: flex;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: v.$tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: v.$desktop-width) {
    width: 569px;
  }

  &--second {
    position: relative;

    @media (min-width: v.$desktop-width) {
      margin-bottom: 0;
      width: 569px;

      &:nth-child(2n+2) {
        margin-left: 78px;
      }
    }
  }
}

.application__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 16px;
  }

  @media (min-width: v.$desktop-width) {
    /*     padding-left: 110px; */
  }
}

.application__input {
  margin: 0;
  display: flex;
  font-family: "Oswald", sans-serif;
  width: 100%;
  padding: 10px 40px 15px 13px;
  border: 1px solid #e7e7e7;

  @media (min-width: v.$tablet-width) {
    padding: 14px 40px 16px 21px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 15px 40px 16px 19px;
  }
}

.application__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.application__icon-mail {
  position: absolute;
  right: 13px;
  top: 13px;
}

.application__icon-phone {
  position: absolute;
  right: 13px;
  top: 13px;
}
