@use "viewports.scss" as v;

.control__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 22px;
  border: none;

  @media (min-width: v.$tablet-width) {
    padding-left: 28px;
    padding-top: 25px;
    padding-bottom: 9px;
    border: 1px solid #d9d9d9;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 0;
    margin-right: 0;
    padding-top: 29px;
    padding-bottom: 2px;
  }
}

.control__align {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: v.$tablet-width) {
    width: 628px;
  }

  @media (min-width: v.$desktop-width) {
    width: 568px;
  }
}

.control__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    flex-wrap: wrap;
  }

  &--second {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: v.$tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 221px);
      column-gap: 123px;
      row-gap: 16px;
    }

    @media (min-width: v.$desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 221px);
      gap: 104px;
    }
  }
}

.control__item {
  position: relative;
  margin: 0 auto 19px 0;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    margin: 0 auto 25px 0;
  }
}

.control__mark-radio {
  position: absolute;
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;

  @media (min-width: v.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control__input[type="radio"]:checked + .control__mark-radio::before {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50px;
  background-color: #68b738;
  transform: translate(60%, 60%);

  @media (min-width: v.$tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.control__mark-checkbox {
  position: absolute;
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;
  outline: 1px solid #cdcdcd;
  background-color: #ffffff;
  cursor: pointer;

  @media (min-width: v.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control__input[type="checkbox"]:checked + .control__mark-checkbox::before {
  position: absolute;
  content: url("../img/select-mobile.svg");
  top: 15%;
  left: 20%;

  @media (min-width: v.$tablet-width) {
    top: 25%;
    content: url("../img/select.svg");
  }
}

.control__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
  padding-left: 46px;

  @media (min-width: v.$tablet-width) {
    padding-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.control__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #000000;
}
