@use "viewports.scss" as v;

.control {
  margin: 0;
  padding: 0;
}

.control__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    flex-wrap: wrap;
  }

  &--second {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: v.$tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 221px);
      column-gap: 123px;
      row-gap: 32px;
    }

    @media (min-width: v.$desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 221px);
      gap: 104px;
    }
  }
}

.control__item {
  margin: 0 auto 13px 0;
  padding: 0;
}

.control__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}

.control__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #000000;
}
