@use "viewports.scss" as v;

.form-application {
  display: flex;
  flex-direction: column;
}

.form-application__container {
  position: relative;
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: v.$tablet-width) {
    width: 628px;
  }

  @media (min-width: v.$desktop-width) {
    width: 1220px;
  }
}

.form-application__container-title {
  background-color: #ffffff;
  padding-right: 14px;
  width: 182px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-style: normal;
  color: #000000;
  margin-bottom: 35px;

  @media (min-width: v.$tablet-width) {
    width: 515px;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: v.$desktop-width) {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
  }
}
