@use "viewports.scss" as v;

.form__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: v.$tablet-width) {
    width: 768px;
  }

  @media (min-width: v.$desktop-width) {
    width: 1440px;
  }
}

.form__text {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
  padding-left: 20px;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 345px;
    padding-left: 70px;
    padding-bottom: 66px;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 0;
    padding-left: 110px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 568px);
    gap: 80px;
    margin: 0 auto;
  }
}
