.service-offerings {
  margin: 0;
  padding: 0;
}

.service-offerings__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
}

.service-offerings__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.service-offerings__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.service-offerings__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.service-offerings__container {
  margin: 0;
  padding: 0;
}

.service-offerings__example {
  margin: 0;
  padding: 0;
}

.service-offerings__discription {
  margin: 0;
  padding: 0;
}
