@use "viewports.scss" as v;

.main-logo {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-logo__tablet {
  display: none;
}

.main-logo__desktop {
  display: none;
}

@media (min-width: v.$tablet-width) {
  .main-logo__mobile {
    display: none;
  }

  .main-logo__text {
    display: none;
  }

  .main-logo__tablet {
    display: block;
  }

  .main-logo__desktop {
    display: none;
  }
}

@media (min-width: v.$desktop-width) {
  .main-logo__mobile {
    display: none;
  }

  .main-logo__text {
    display: none;
  }

  .main-logo__tablet {
    display: none;
  }

  .main-logo__desktop {
    display: block;
  }
}
