.main-nav {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.main-nav__container {
  margin: 0;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.site-list {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
}

.site-list__link {
  color: #000000;
}
