@use "viewports.scss" as v;

.main-header {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 10px 0 0 0;
  min-width: 280px;


  @media (min-width: v.$tablet-width) {
    flex-direction: row;
    padding: 24px 0 35px 0;
    min-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: v.$desktop-width) {
    flex-direction: row;
    padding: 53px 0 29px 0;
    min-width: 980px;
  }
}
