@use "viewports.scss" as v;

.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: v.$tablet-width) {
    flex-direction: row;
    padding: 0;
    margin-top: 18px;
  }

  @media (min-width: v.$desktop-width) {
    margin: 0;
    margin-top: 16px;
    padding-right: 3px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -43px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;

  &:hover,
  &:active {
    border: none;
    outline: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: v.$tablet-width) {
    display: none;
  }
}

.main-nav--opened {
  z-index: 10;
  display: block;
}

.main-nav--closed .main-nav__toggle::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: v.$mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav--opened .main-nav__toggle::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #000000;
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
