@use "viewports.scss" as v;

.site-list {
  list-style-type: none;
  text-decoration: none;
}

.site-list__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  padding: 22px 70px 24px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-bottom: none;
  }

  &:last-child {
    border-top: none;
    margin-right: 0;
  }

  @media (min-width: v.$tablet-width) {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    padding-bottom: 12px;
    margin-right: 35px;
  }

  @media (min-width: v.$desktop-width) {
    margin-right: 32px;
    padding-bottom: 3px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__link {
  color: #000000;
}

.site-list__link:hover,
.site-list__link:focus {
  opacity: 0.6;
}

.site-list__link:active {
  opacity: 0.3;
}

.site-list__link--index {
  @media (min-width: v.$desktop-width) {
    color: #ffffff;
  }
}

.site-list__link--index:hover,
.site-list__link--index:focus {
  opacity: 0.6;
}

.site-list__link--index:active {
  opacity: 0.3;
}

.site-list__item--current .site-list__link {
  box-shadow: 0 2px #68b738;
}

.site-list__item--current .site-list__link--index {
  box-shadow: 0 2px #ffffff;
}
