// Начните писать стили здесь
@use "./fonts.scss";
@use "./utils.scss";
@use "./blocks/global.scss";
@use "./viewports.scss";
/* header */
@use "./blocks/header/main-header.scss";
@use "./blocks/header/main-nav.scss";
@use "./blocks/header/site-list.scss";
@use "./blocks/header/main-logo.scss";
/* index */
@use "./blocks/main-container.scss";
@use "./blocks/index/service-offerings.scss";
@use "./blocks/index/example.scss";
@use "./blocks/index/description.scss";
@use "./blocks/index/results/results.scss";
@use "./blocks/index/results/results-images.scss";
/* form */
@use "./blocks/form/form.scss";
@use "./blocks/form/application.scss";
@use "./blocks/form/control.scss";
@use "./blocks/form/form-comment.scss";
@use "./blocks/form/comment.scss";
@use "./blocks/form/form-checkbox.scss";
@use "./blocks/form/form-application.scss";
@use "./blocks/form/form-radio.scss";
@use "./blocks/form/form-wrapper.scss";
/* catalog */
@use "./blocks/catalog/main-inner.scss";
@use "./blocks/catalog/catalog.scss";
@use "./blocks/catalog/catalog-offers.scss";
@use "./blocks/catalog/product-button.scss";
@use "./blocks/catalog/catalog-offers-second.scss";
@use "./blocks/catalog/button-details.scss";
/* footer */
@use "./blocks/footer/main-footer.scss";
@use "./blocks/footer/main-footer__social-container.scss";
@use "./blocks/footer/main-footer-attention.scss";
@use "./blocks/footer/social.scss";
@use "./blocks/footer/creators.scss";
@use "./blocks/footer.scss";
