@use "viewports.scss" as v;

.creators {
  min-width: 280px;
  display: flex;
  margin: 0 auto;
  padding: 20px 20px;

  @media (min-width: v.$tablet-width) {
    min-width: 163px;
    padding: 0;
  }
}

.creators__name {
  font-family: "Arial", sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: v.$tablet-width) {
    margin-right: 22px;
  }
}

.creators__link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.creators__link:hover,
.creators__link:focus {
  color: #68b738;
}

.creators__link:active {
  color: rgba(104, 183, 56, 0.3);
}
