@use "viewports.scss" as v;

.main-footer-attention {
  max-width: 280px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 22px 20px;
  justify-content: space-between;

  @media (min-width: v.$tablet-width) {
    box-sizing: border-box;
    min-width: 768px;
    padding: 56px 70px;
  }

  @media (min-width: v.$desktop-width) {
    position: absolute;
    background-color: #ffffff;
    left: 110px;
    top: 91px;
    padding: 56px 80px;
    min-width: 565px;
  }
}

.main-footer-attention__title {
  display: inline-block;
  width: 139px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    display: flex;
    justify-content: left;
    max-width: 172px;
    font-size: 20px;
    line-height: 26px;
    margin-right: 87px;
  }
}

.main-footer-attention__content {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
  text-align: start;
  padding-left: 29px;

  p {
    margin: 0;
  }

  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;

    p {
      margin-top: 20px;
    }
  }

  @media (min-width: v.$desktop-width) {
    text-align: start;
    padding-left: 24px;

    p {
      text-align: start;
      margin-right: 29px;
      margin-top: 16px;
    }
  }
}
