@use "viewports.scss" as v;

.main-footer-attention {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 26px 20px;
  justify-content: space-between;

  @media (min-width: v.$tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 56px 80px;
  }
}

.main-footer-attention__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #111111;
  text-transform: uppercase;
}

.main-footer-attention__content {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}
