@use "viewports.scss" as v;

.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: v.$desktop-width) {
    box-sizing: border-box;
  }
}

.main-footer__map {
  width: 100%;
  min-width: 320px;
  min-height: 362px;
  display: block;
  border: none;


  @media (min-width: v.$tablet-width) {
    min-width: 768px;
    min-height: 400px;
  }

  @media (min-width: v.$desktop-width) {
    min-width: 1440px;
    min-height: 400px;
  }
}

.main-footer__social-container {
  background-color: #f2f2f2;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: v.$tablet-width) {
    display: flex;
    min-width: 768px;
    padding-top: 41px;
    padding-bottom: 43px;
    min-height: 147px;
  }

  @media (min-width: v.$desktop-width) {
    min-width: 1440px;
    padding-bottom: 53px;
  }
}

.main-footer__social-align {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 31px 0 29px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 58px;
  }
}

.main-footer__logo-text {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 32px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 0;
    width: 128px;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    border: none;
  }

  @media (min-width: v.$desktop-width) {
    padding-right: 0;
  }
}

.main-footer__logo-text:hover svg,
.main-footer__logo-text:focus svg {
  opacity: 0.8;
}

.main-footer__logo-text:active svg {
  opacity: 0.6;
}

