@use "viewports.scss" as v;

.main-footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: v.$desktop-width) {
    width: 1440px;
    box-sizing: border-box;
  }
}
