@use "viewports.scss" as v;

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 74px;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: v.$tablet-width) {
    border-bottom: none;
  }

  @media (min-width: v.$desktop-width) {
    border-bottom: none;
    padding: 0 153px 0 179px;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0;
  margin-right: 24px;

  @media (min-width: v.$desktop-width) {
    margin-right: 26px;
  }
}

.social__item:nth-child(3n+3) {
  margin-right: 0;
}

.social__link {
  display: block;
  border: none;
  width: 100%;
}

.social__icon {
  display: block;
  align-items: center;
  text-align: center;
}
