@use "viewports.scss" as v;

.results {
  padding: 25px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  margin: 0;

  @media (min-width: v.$tablet-width) {
    display: block;
    padding: 45px 30px 0;
  }

  @media (min-width: v.$desktop-width) {
    box-sizing: border-box;
    padding: 0 110px 75px 110px;
    margin-bottom: 0;
  }
}

.results__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
}

.results__example {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
}

.results__list {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 32px;
  margin: 0;
  padding: 20px 0;
  justify-content: center;
}

.results__item {
  margin: 0;
  padding: 0;
}

.results__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
}

.results__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  color: #444444;
}

.results__content {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}
