@use "viewports.scss" as v;

.results {
  background-color: #eaeaea;

  @media (min-width: v.$tablet-width) {
    background: linear-gradient(#ffffff 0%, #ffffff 57.3%, #eaeaea 57.3%, #eaeaea 100%);
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: v.$desktop-width) {
    background: linear-gradient(#ffffff 0%, #ffffff 26.4%, #f2f2f2 26.4%, #f2f2f2 100%);
    border-top: none;
    margin-top: 28px;
  }
}

.results__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 28px 20px 40px 20px;

  @media (min-width: v.$tablet-width) {
    display: block;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 0;
  }

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 75px;
    margin-bottom: 0;
  }
}

.results__information {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: v.$tablet-width) {
    max-width: 708px;
  }
}

.results__title-container {
  background-color: #eaeaea;

  @media (min-width: v.$tablet-width) {
    background-color: #ffffff;
  }
}

.results__title {
  display: flex;
  flex-wrap: wrap;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  margin: 0;
  margin-right: auto;
  padding-bottom: 40px;

  @media (min-width: v.$tablet-width) {
    margin: 0 auto;
    margin-top: 42px;
    width: 708px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 32px;
  }

  @media (min-width: v.$desktop-width) {
    padding-bottom: 0;
    padding-left: 105px;
    margin-top: 34px;
  }
}

.results__example {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;

  @media (min-width: v.$tablet-width) {
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: v.$desktop-width) {
    max-width: 436px;
    margin-top: 147px;
    padding-left: 104px;
  }
}


.results__list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: v.$tablet-width) {
    margin-top: 34px;
    flex-direction: row;
  }

  @media (min-width: v.$desktop-width) {
    flex-direction: column;
    margin-top: 0;
  }
}

.results__list {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 32px;
  margin: 0;
  padding: 20px 0 8px;
  justify-content: center;

  @media (min-width: v.$tablet-width) {
    grid-template-columns: repeat(2, 162px);
    gap: 42px;
  }

  @media (min-width: v.$desktop-width) {
    justify-content: start;
    padding: 69px 0 41px 105px;
  }
}

.results__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.results__number {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 12px;
  }
}

.results__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  padding-left: 4px;
  padding-right: 6px;
  text-align: center;
  color: #444444;
  align-items: center;
  margin-top: -9px;
  margin-bottom: 12px;
  margin-left: 22px;
  margin-right: 25px;
  background-color: #eaeaea;

  @media (min-width: v.$tablet-width) {
    br {
      display: none;
    }

    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    margin-top: -9px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 13px;
  }

  @media (min-width: v.$desktop-width) {
    background-color: #f2f2f2;
  }
}

.results__content {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;

  br {
    display: none;
  }

  @media (min-width: v.$tablet-width) {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    text-align: end;
    font-size: 20px;
    line-height: 29px;
    padding-top: 15px;
    padding-right: 2px;
    flex-direction: column;

    br {
      display: block;
    }
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 0;
    justify-content: start;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 103px;
    line-height: 31px;
    flex-direction: row;

    br {
      display: none;
    }
  }
}

.results__content-price {
  @media (min-width: v.$tablet-width) {
    padding-left: 82px;
  }

  @media (min-width: v.$desktop-width) {
    padding-left: 67px;
  }
}
