@use "viewports.scss" as v;

.results-images {
  padding: 0;

  @media (min-width: v.$tablet-width) {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  @media (min-width: v.$desktop-width) {
    background: none;
    position: relative;
  }
}

.results-images__container {
  margin: 0 auto;
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: v.$tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: v.$desktop-width) {
    position: absolute;
    top: 36px;
    right: 109px;
    background: none;
  }
}

.results-images__list {
  display: block;
}

.results-images__icon {
  width: 100%;
  height: auto;
}

.results-images__toggle {
  position: absolute;
  left: calc(50% - 24px);
  background-color: transparent;
  border: none;
}
